@charset "utf-8";

body,td,th,p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

ul#restaurants-list {
  padding: 10px;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  margin-top: 60px;
}

#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  position: fixed;
  top:0;
  z-index: 3;
  width: 100%;
  height: 60px;
  background-color: #252831;
  text-align:center;
  display: flex;
  align-items: center;
}

nav h1 {
  margin: auto;
}
nav h1 a {
  color: orange;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    z-index: 3;
    position: fixed;
    top:-10px;
    list-style: none;
    background-color: #eee;
    font-size: 18px;
    margin-top: 60px;
    width: 100%;
    height: auto;
}

#breadcrumb li {
    display: inline;
}

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

#breadcrumb li a {
    color: #024A8D;
    text-decoration: none;
}

#breadcrumb li a:hover {
    color: #021B36;
    text-decoration: underline;
}

/* ===== Map in index.html ===== */

#map {
  z-index: 2;
  height: 350px;
  width: 100%;
  background-color: #ccc;
}

/* ===== Restaurant Filtering in index.html ===== */

.filter-options {
  width: 100%;
  height: 100%;
  background-color: coral;
  align-items: center;
  padding: 10px 2% 0 2%;
  display: flex;
  flex-direction: column;
}

.filter-options h2 {
  color: white;
  font-family: Arial,sans-serif;
  text-transform: capitalize;  
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 10px 0;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 18px;
  height: 35px;
  letter-spacing: 0;
  margin: 0 0 10px 0;
  padding: 0 10px;
  width: 50%;
}

/* ===== style for Restaurant Listing in index.html ===== */

#restaurants-list li {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  font-family: Arial,sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  display: inline-block;
  margin-top: 20px;
  border-radius: 100px 0px 50px 0px;
  text-align: center;
}

#restaurants-list .restaurant-img {
  width: 100%;
  border-radius: 100px 0px 100px 0px;
}

#restaurants-list li h1 {
  color: #8A4500;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  font-family: Arial,sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 18px;
  color: coral;
  font-family: Arial,sans-serif;
  font-weight: 600;
}

#restaurants-list li a {
  background-color: orange;
  width: 100%;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: -5px;
  border-radius: 0px 0px 100px 0px;
  transition: 2s;
  -webkit-transition: 0.5s;
}

#restaurants-list li a:hover {
  background-color: orangered;
}

/*----restaurant.html styles---- */

.inside header {
  width: 100%;
  z-index: 3;
}

/*map styles*/
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 350px;
  width: 100%;
  margin: auto;
}

.inside #map {
  z-index: 2;
  background-color: #ccc;
  height: 350px;
  width: 100%;
}

/*footer*/
.inside #footer {
  width: 100%;
}

/*main content*/
.inside #maincontent {
  margin-top: 76px;
}

/*heading styles*/
#restaurant-name, #reviews-container h2 {
  color: #021B36;
  border-bottom: 3px solid #333;
  font-family: Arial,sans-serif;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

/*restaurant styles*/
#restaurant-img {
	width: 100%;
  border-radius: 20px 0 0 0;
}

#restaurant-address {
  font-size: 14pt;
  margin: 10px 0px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  background-color: #021B36;
  color: white;
  padding-left: 5px; 
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
  border-radius: 0 0 20px 0;
}

/*restaurant and review container styles*/
#restaurant-container, #reviews-container {
  padding: 20px 2%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

/*review styles*/
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 0 10px 0;
  position: relative;
  width: 95%;
  border-radius: 20px 0 20px 0;
}

#reviews-list li time {
  display: block;
}

#reviews-list li p, #reviews-list li time {
  margin: 0 0 10px;
  padding: 0 20px;
  font-size: 18px;
}

#reviews-list li p:nth-child(1) {
    background: #333;
    color: #fff;
    font-size: 1.6em;
    padding: 10px 20px;
}

#reviews-list li p:nth-child(3) {
  background: orange;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
}

/*table styles*/
#restaurant-hours tr td:nth-child(1n + 2) {
  color: orangered;
  font-size: 18px;
} 

#restaurant-hours tr td:nth-child(3n+1) {
  color: black;
  padding: 15px;
  font-size: 18px;
}

tr {
  border-bottom: 2px solid #021B36;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}



/**media query**/

* {
  box-sizing: border-box;
}

.container-box::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col"] {
  float: left;
  padding: 15px;
}

/*media query for small devices*/
@media only screen and (max-width: 576px) {

  #restaurants-list li {
    width: calc((100% - 20px * 1) / 1);
  }

  nav h1 a {
    font-size: 14px;
    font-weight: bold;
  }
 
  .col-phone-1 {
    width: 8.33%;
  }
  .col-phone-2 {
    width: 16.66%;
  }
  .col-phone-3 {
    width: 25%;
  }
  .col-phone-4 {
    width: 33.33%;
  }
  .col-phone-5 {
    width: 41.66%;
  }
  .col-phone-6 {
    width: 50%;
  }
  .col-phone-7 {
    width: 58.33%;
  }
  .col-phone-8 {
    width: 66.66%;
  }
  .col-phone-9 {
    width: 75%;
  }
  .col-phone-10 {
    width: 83.33%;
  }
  .col-phone-11 {
    width: 91.66%;
  }
  .col-phone-12 {
    width: 100%;
  }

}

/*media query for medium devices*/
@media screen and (max-width: 768px) and (min-width: 577px) {

  #restaurants-list li {
    width: calc((100% - 20px * 2) / 2); 
  }
   
  .col-tab-1 {
    width: 8.33%;
  }
  .col-tab-2 {
    width: 16.66%;
  }
  .col-tab-3 {
    width: 25%;
  }
  .col-tab-4 {
    width: 33.33%;
  }
  .col-tab-5 {
    width: 41.66%;
  }
  .col-tab-6 {
    width: 50%;
  }
  .col-tab-7 {
    width: 58.33%;
  }
  .col-tab-8 {
    width: 66.66%;
  }
  .col-tab-9 {
    width: 75%;
  }
  .col-tab-10 {
    width: 83.33%;
  }
  .col-tab-11 {
    width: 91.66%;
  }
  .col-tab-12 {
    width: 100%;
  }

}

/*media query for large devices*/
@media screen and (max-width: 992px) and (min-width: 769px) {

  #restaurants-list li {
    width: calc((100% - 20px * 3) / 3 );  
  }

  .col-desktop-1 {
    width: 8.33%;
  }
  .col-desktop-2 {
    width: 16.66%;
  }
  .col-desktop-3 {
    width: 25%;
  }
  .col-desktop-4 {
    width: 33.33%;
  }
  .col-desktop-5 {
    width: 41.66%;
  }
  .col-desktop-6 {
    width: 50%;
  }
  .col-desktop-7 {
    width: 58.33%;
  }
  .col-desktop-8 {
    width: 66.66%;
  }
  .col-desktop-9 {
    width: 75%;
  }
  .col-desktop-10 {
    width: 83.33%;
  }
  .col-desktop-11 {
    width: 91.66%;
  }
  .col-desktop-12 {
    width: 100%;
  }

}

/*media query for extralarge devices*/
@media screen and (min-width: 993px) {

  #restaurants-list li {
    width: calc((100% - 20px * 4) / 4 );  
  }

  .col-desktoplg-1 {
    width: 8.33%;
  }
  .col-desktoplg-2 {
    width: 16.66%;
  }
  .col-desktoplg-3 {
    width: 25%;
  }
  .col-desktoplg-4 {
    width: 33.33%;
  }
  .col-desktoplg-5 {
    width: 41.66%;
  }
  .col-desktoplg-6 {
    width: 50%;
  }
  .col-desktoplg-7 {
    width: 58.33%;
  }
  .col-desktoplg-8 {
    width: 66.66%;
  }
  .col-desktoplg-9 {
    width: 75%;
  }
  .col-desktoplg-10 {
    width: 83.33%;
  }
  .col-desktoplg-11 {
    width: 91.66%;
  }
  .col-desktoplg-12 {
    width: 100%;
  }
  
}
